.container {
  display: flex;
  align-items: center;
}

.inputText {
  font-size: 30px;
}

.blinkingText {
  font-size: 40px;
}

.blinkCursor {
  animation: blinking step-end 1s infinite;
}

@keyframes blinking {
  50% {
    opacity: 0;
  }
}
